In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = ({'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36', 'Accept-Language': 'en-US, en;q=0.5'})

# this header used when you get error of <402> in request.get because it think you are a robot
# so takle with it you have to use header it give assurance that this is an human not a robot

In [3]:
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=2', headers=headers).text

In [4]:
# lxml = alex ml
soup = BeautifulSoup(webpage, 'lxml')

In [5]:
len(soup.find_all('p'))

29

In [6]:
for i in soup.find_all('h2'):
    print(i.text.strip())

Vodafone Idea
BYJU'S
Kotak Mahindra Bank
Deloitte
Reliance Industries
iEnergizer
Bharti Airtel
Tata Motors
WNS
Flipkart
IndusInd Bank
Ernst & Young
AU Small Finance Bank
Mahindra & Mahindra
Infosys BPM
DXC Technology
IDFC FIRST Bank
Conneqt Business Solutions
LTIMindtree
HDFC Life
Companies by  Industry
Companies by  Locations
Companies by  Type
Companies by  Badges

In [42]:
soup.find_all('span', class_= "companyCardWrapper__ActionCount")[2].text.strip()

'485'

In [20]:
company = soup.find_all('div', class_='companyCardWrapper')

In [46]:
name = []
rating = []
review = []
salaries = []
interviews = []
job = []
benifits = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span', class_='companyCardWrapper__companyRatingValue').text.strip())
    review.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[0].text.strip())
    salaries.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[1].text.strip())
    interviews.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[2].text.strip())
    job.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[3].text.strip())
    benifits.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[4].text.strip())
    
d={'name':name, 'rating':rating, 'review':review, 'salaries':salaries, 'interviews':interviews, 'job':job, 'benifits':benifits}

df=pd.DataFrame(d)
df

                          name rating review salaries interviews  job benifits
0                Vodafone Idea    4.2  14.2k    56.8k        485   15     2.1k
1                       BYJU'S    3.1  15.3k    60.3k         2k   --     1.9k
2          Kotak Mahindra Bank    3.8  14.2k    78.8k        860   --     1.3k
3                     Deloitte    3.9  14.6k     1.8L       2.1k   --     2.6k
4          Reliance Industries    4.1  13.7k    65.6k       1.1k   --       2k
5                   iEnergizer    4.7    16k    19.1k        375   58      538
6                Bharti Airtel    4.1  12.1k    43.9k        678   --     1.6k
7                  Tata Motors    4.2  10.5k    40.1k        822   --     1.8k
8                          WNS    3.5   9.8k    55.1k        832   --     1.4k
9                     Flipkart    4.1   9.5k    46.7k       1.1k   --     1.5k
10               IndusInd Bank    3.7   9.3k    46.5k        480   --      817
11               Ernst & Young    3.6   9.2k     1.3L        950  201     1.3k
12       AU Small Finance Bank    4.4   8.8k      19k        356   41      490
13         Mahindra & Mahindra    4.2   8.6k    36.7k        561   --     1.3k
14                 Infosys BPM    3.8   8.4k    60.8k        799   97     1.2k
15              DXC Technology    3.8   8.5k    79.6k        693   80     1.2k
16             IDFC FIRST Bank    4.0   8.6k    41.9k        518   36      738
17  Conneqt Business Solutions    3.7   7.9k    26.1k        388  340      810
18                 LTIMindtree    3.6   8.3k       1L       1.3k   --      862
19                   HDFC Life    4.1   7.8k      30k        494   --      647

In [45]:
interviews

['485',
 '2k',
 '860',
 '2.1k',
 '1.1k',
 '375',
 '678',
 '822',
 '832',
 '1.1k',
 '480',
 '950',
 '356',
 '561',
 '799',
 '693',
 '518',
 '388',
 '1.3k',
 '494']

# for multiple pages

In [48]:
final = pd.DataFrame()

for j in range(1,11):
    url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j)
    
    headers = ({'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36', 'Accept-Language': 'en-US, en;q=0.5'})
    webpage = requests.get(url, headers=headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
    company = soup.find_all('div', class_='companyCardWrapper')
    name = []
    rating = []
    review = []
    salaries = []
    interviews = []
    job = []
    benifits = []

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('span', class_='companyCardWrapper__companyRatingValue').text.strip())
        review.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[0].text.strip())
        salaries.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[1].text.strip())
        interviews.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[2].text.strip())
        job.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[3].text.strip())
        benifits.append(i.find_all('span', class_= "companyCardWrapper__ActionCount")[4].text.strip())

    d={'name':name, 'rating':rating, 'review':review, 'salaries':salaries, 'interviews':interviews, 'job':job, 'benifits':benifits}

    df=pd.DataFrame(d)
    final = final.append(df)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19180\1427949191.py:31: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)

In [49]:
final.shape

(200, 7)